<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Vue JS POC</title>
		<link rel="stylesheet" href="assets/css/master.css">
	</head>
	<body>
		Loaded.
		<div id="app" class="app">
			{{ message }}
		</div>

		<div id="app2">
			<span v-bind:title="message">
				Hover your mouse over me for a few seconds ot see my dynamically bound title.
			</span>
		</div>

		<div id="app3">
			<p v-if="seen">Now you see me.</p>
		</div>

		<div id="app4">
			<ol>
				<li v-for="todo in todos">
					{{ todo.text }}
				</li>
			</ol>
		</div>

		<div id="app5">
			<p>{{ message }}</p>
			<button v-on:click="reverseMessage">Reverse Message</button>
		</div>

		<div id="app6">
			<p>{{ message }}</p>
			<input v-model="message">
		</div>

		<div id="app7">
			<ol>
				<todo-item
					v-for="item in groceryList"
					v-bind:todo="item"
					v-bind:key="item.id">
				</todo-item>
			</ol>
		</div>

		<script src="https://unpkg.com/vue"></script>
		<script src="assets/js/index.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">

			var app = new Vue({
				el: "#app",
				data: {
					message: "Hello Vue! " + new Date().toLocaleString()
				}
			});

			var app2 = new Vue({
				el: "#app2",
				data: {
					message: "You loaded this page on " + new Date().toLocaleString()
				}
			});

			var app3 = new Vue({
				el: "#app3",
				data: {
					seen: true
				}
			});

			var app4 = new Vue({
				el: "#app4",
				data: {
					todos: [
						{text: "learn vue js"},
						{text: "learn binding"},
						{text: "show the world"}
					]
				}
			});

			var app5 = new Vue({
				el: "#app5",
				data: {
					message: "Hello Vue JS!",
				},
				methods: {
					reverseMessage: function() {
						this.message = this.message.split('').reverse().join('');
					},
				},
			});

			var app6 = new Vue({
				el: "#app6",
				data: {
					message: "Helloe Vue JS!"
				}
			});

			Vue.component("todo-item", {
				props: ["todo"],
				template: "<li>{{ todo.text }}</li>",
			});

			var app7 = new Vue({
				el: "#app7",
				data: {
					groceryList: [
						{id: 0, text: "vegetables"},
						{id: 1, text: "cheese"},
						{id: 2, text: "meat"},
					],
				}
			});
		</script>
	</body>
</html>
